.no-webp .inicio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/header1.jpg);
}
.webp .inicio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../img/header1.webp);
}

.header {
  background-color: $azulOscuro;
  padding: 1rem 0 3rem 0;
  .logo {
    .logo__nombre {
      font-weight: 700;
      font-size: 7rem;
    }
    .logo__light {
      font-weight: 400;
      font-size: 6rem;
    }
    h1 {
      color: $blanco;
    }
    @include tablet {
      .logo__nombre {
        font-size: 5rem;
      }
      .logo__light {
        font-size: 3rem;
      }
    }
  }

  &.inicio {
    background-position: center center;
    background-size: cover;
    @include tablet {
      min-height: 70rem;
    }
    .contenido-header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include tablet {
        min-height: 70rem;
      }
      h1 {
        text-align: left;
        color: $blanco;
        font-weight: $bold;
        line-height: 2;
        max-width: 50rem;
      }
    }
  }
}
